@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: normal;

    src: url('./roboto-bold_1-webfont.woff2') format('woff2'),
         url('./roboto-bold_1-webfont.woff') format('woff');

}

@font-face {
    font-family: 'roboto';
    font-weight: 300;
    font-style: normal;

    src: url('./roboto-light_1-webfont.woff2') format('woff2'),
         url('./roboto-light_1-webfont.woff') format('woff');

}

@font-face {
    font-family: 'roboto';
    font-weight: 300;
    font-style: italic;

    src: url('./roboto-lightitalic_1-webfont.woff2') format('woff2'),
         url('./roboto-lightitalic_1-webfont.woff') format('woff');

}